@import '../../app/styles/variables';
@import '../../app/styles/breakpoints';

$black-gradient-start: #080707;
$black-gradient-middle: #252525;
$black-gradient-end: #292929;

.footer {
    width: 100%;
    background-image: linear-gradient(
        to left,
        $black-gradient-start 0%,
        $black-gradient-middle 68%,
        $black-gradient-end 100%
    );
    color: white;
    padding: 1rem 0 0.5rem 0;
    margin-top: auto;
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    .footer-content {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1.5fr 0.8fr;
        gap: 2rem;
        padding: 0 2rem;

        @media #{$phone} {
            grid-template-columns: 1fr;
            text-align: center;
            gap: 2rem;
        }
    }
    
    .text-highlight {
        color: $color-primary-light;
    }
    
    .footer-section-1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .title-logo-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 15px;
            margin-bottom: 0.25rem;

            h3 {
                font-size: 2.5rem;
                color:white;
                margin: 0;
            }
        }

        p {
            font-size: 1.6rem;
            opacity: 0.9;
            margin: 0;
        }

        @media #{$phone} {
            align-items: center;
            .title-logo-wrapper {
                h3 {
                    font-size: 2rem;
                }
                justify-content: center;
            }
            p {
                font-size: 1.2rem;
            }
        }
    }

    .footer-section-3 {
        .social-icons {
            display: flex;
            gap: 1.2rem;
            font-size: 1.6rem;

            @media #{$phone} {
                justify-content: center;
            }

            .icon {
                cursor: pointer;
                transition: all 0.3s ease;
                &:hover {
                    color: $color-primary-light;
                    transform: translateY(-3px);
                }
            }
        }
    }

    h4 {
        color: $color-primary-dark;
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }

    .footer-bottom {
        border-top: 1px solid rgba(255, 255, 255, 0.05);
        margin-top: 1rem;
        padding-top: 0.75rem;
        text-align: center;
        font-size: 0.9rem;
        opacity: 0.5;
    }
}