@import '../../app/styles/variables';
@import '../../app/styles/breakpoints';
.about-phone-container{display: none;}
.about-background {
    width: 100vw;
    height: 100vh;
    background-image: url('/images/aboutpage.png');
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    overflow: hidden;
    @media #{$phone} {
        display: none !important; 
    }
}
.about-left-side {
    display: flex; 
    flex-direction: row;
    justify-content: flex-end; 
    align-items: center;
    font-size: 2rem;
    padding-left: 10%;
}
    
/* --- DESNA STRANA (Uklanjamo mobilni stil odavde) --- */
.about-right-side {
    display: flex; 
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    .gallery-container{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            &:hover{
                transform: scale(1.05);
                transition: transform 0.3s ease;
            }
        }
    }
    .image-gallery{
        height: 575px;
        width: 500px;
        background-color: rgba($color: #ffffff, $alpha: 0.5);
    }
}
@media #{$phone} {
    .about-phone-container{
        display: block; // Prikazuje ga
        background-image: url('/images/about-phone.png');
        background-size: cover;
        background-position: center;
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .empty-space{
            width: 100vw;
            height: 50px;
            
        }
        .gallery-phone{
            height: 350px;
            width: 275px;
            background-color: rgba($color: #ffffff, $alpha: 0.5);
        }
        .text-container{
            font-size: 1.15rem;
            padding: 15px;
            text-align: justify;
        }
    }
}